<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet">
</head>

<body>
    <div>
        <form action="/form-fix-user/<%=dataUser[i].id%>" method="POST">
            <label for="">Last Name</label>
            <input type="text" name="firstname" value="<%=dataUser[i].firstname%>">

            <label for="">First Name</label>
            <input type="text" name="lastname" value="<%=dataUser[i].lastname%>">
            <input type="submit" value="OK">
        </form>

        </table>

    </div>

</body>

</html>