.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    width: 95%;
    justify-content: space-between;
    height: auto;

    .items {
        width: 22%;
        height: 100%;
        text-align: left;

        .link {
            color: #272727;
            text-decoration: none;
            line-height: 20px;
            font-size: 12px;
            text-align: justify;
        }

    }
}

.item-h4 {
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.02em;
    margin: 0 0 20px;
    position: relative;
    line-height: 22px;
    text-transform: uppercase;
}

.item-p {
    line-height: 20px;
    font-size: 12px;
    text-align: justify;
}

.footer-icon {
    display: flex;
    align-items: start;
    width: 100%;
    height: 20px;
    float: left;
}

.icon-fb {
    margin-right: 5px;
}

.footer-img {
    width: 150px;
    margin-top: 10px;
    margin-left: -5px;
}