// .wrapper {
//     position: fixed;
//     bottom: 0;
//     left: 0;
// }
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0;
    height: 40px;
    width: 100vw;
    cursor: grab;
    background-color: black;
}

.slide-title {
    color: #00ca8d;
    line-height: 1.25;
    font-size: .9375rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 8px;
    display: inline-block;
}

.span-title {
    color: #fff;
    line-height: 1.25;
    font-size: .8125rem;
    margin-bottom: 0;
}