.wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 30%;
    color: white;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.meta-item,
.content {
    margin-top: 15px;
    font-size: 12px;
}

.title {
    margin-top: 15px;
    font-weight: 600;
}

.link {
    color: white;
    margin-top: 15px;
}