// .wrapper {
//     position: fixed;
//     bottom: 0;
//     left: 0;
// }
.slide {
    height: 100%;
    width: 100%;
    z-index: -1;
    text-align: center;
    cursor: grab;
}


.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}