.wrapper {
    margin-top: var(--height-header);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 40%;
    padding-top: 50px;
    padding-bottom: 50px;

    .content-title {
        font-family: 'Oswald' !important;
        text-transform: uppercase;
        font-size: 123.1%;
        line-height: 1.3;
        margin: 0.6em 0;
        font-weight: 600;
        font-style: normal;
        color: #212b36;
    }

    .content-form {
        margin-top: 20px;
        display: flex;
    }
}

.content-input {
    outline: none;
    width: 100%;
    height: 55px;
    border: 1px solid transparent;
    background: #ededed;
    color: #272727;
    padding: 0 20px;
    font-weight: 500;
    -webkit-appearance: none;
    margin-top: 10px;
}

.content-input:focus {
    background: #fff;
    border-color: #ededed;
}

.content-label {
    text-align: left;
    font-size: 13px;
    font-weight: 500;
}

.content-radio {
    color: black;
    margin-right: 5px;
    cursor: pointer;
}

.content-label {
    margin-right: 10px
}

.login-footer {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
}


.button {
    display: inline-block;
    border-radius: 0;
    padding: 0 30px;
    height: 45px;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: black;


    &:hover {
        color: #333;
        text-decoration: none;
        background-color: white;
    }
}

.link {
    text-decoration: none;
    color: black;
}

.span {
    color: black;
    margin-left: 5px;
}

.footer-right {
    text-align: left;
    margin-left: 20px;

}

.footer-link {
    margin-top: 15px;
}